<%- include ../head %>

    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <div class="col-md-5">
                    <div class="product col-md-3">
                        <center>
                            <div id="bild"><img src="http://placehold.it/320x150" class="img-responsive" alt=""></div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

                        </center>
                    </div>
                </div>

                <div class="col-md-7 form-group">
                    <div class="title">
                        <h4><label for="nameInput">Produktname:</label></h4>
                        <input type="text" class="form-control" id="nameInput"></input>
                    </div>
                    <div class="desc">
                        <h4><label for="descrInput">Produktbeschreibung:</label></h4>
                        <textarea type="text" rows="5" maxlength="150" class="form-control" id="descrInput"></textarea>
                    </div>
                    <hr>
                    <div class="price">
                        <h4><label for="priceInput">Preis:</label></h4>
                        <input type="number" style="width: 100px" class="form-control" id="priceInput"></input>
                    </div>
                    <div class="stock">
                        <h4><label for="storageInput">Lagerbestand:</label></h4>
                        <input type="number" style="width: 100px" class="form-control" id="storageInput"></input>
                    </div>
                    <hr>
                    <div class="ctrl">
                        <button class="btn btn-primary sharp" id="saveArticle" href="/article">Speichern</button>
                        <button class="btn btn-danger sharp" id="abort">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include ../foot %>

        <script src="js/articleedit.js"></script>
