<%- include ../head %>

    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <div class="col-md-5">
                    <div class="product col-md-3">
                        <center>
                            <div id="bild"><img src="http://placehold.it/320x150" class="img-responsive" alt=""></div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

                        </center>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="product-title">
                        <input type="text" style="width: 60px" id="nameInput"> Produktname</input>
                    </div>
                    <div class="product-desc">
                       <input type="text" style="width: 60px" id="descrInput"> Beschreibung</input>
                    </div>
                    <hr>
                    <div class="product-price">
                        <input type="number" style="width: 60px" id="priceInput"> Preis</input>
                    </div>
                    <div class="product-stock" style="color:#00FF26">
                        <input type="number" style="width: 60px" id="storageInput"> Lagerbestand</input>
                    </div>
                    <hr>
                    <div class="ctrl">
                        <button class="btn btn-primary btn-sm sharp add" href="/cart/1" >Speichern</button>
                        <button class="btn btn-danger btn-sm sharp add" href="/" >Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include ../foot %>
