<%- include head %>

  <section class="container">
    <h3>Es ist ein Fehler aufgetreten <i class="mdi-alert-error"></i></h3>

    Code:
    <% if (typeof code !== 'undefined') { %>
      <%= code %>
    <% } %>
    <br>

    Message:
    <% if (typeof msg !== 'undefined') { %>
      <%= msg %>
    <% } %>
  </section>

    <%- include foot %>