<!-- Footer -->
<!-- /.container -->

<div class="container">

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-4">
                <a href="/impressum">Impressum</a>
            </div>
            <div class="col-lg-8">
                <p>@2016 by Weltraum Betrachter Agentur</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-dialog.min.js"></script>

<script>
    $('.add').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/cart/1',
            type: 'post',
            data: JSON.stringify({
                "id": $(this).attr('id'),
                "quantity": "1"
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data, textStatus, jQxhr) {
                alert(data);
            }
        });
    });
</script>

</body>

</html>