<footer>


</footer>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/bin/materialize.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="http://localhost:10000/faye/client.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
    $('.tooltipped').tooltip();
    $('ul.tabs').tabs();
    //Materialize.showStaggeredList('.mat-staggered-list')
    var client = new Faye.Client("http://localhost:10000/faye");
    var subscription = client.subscribe('/news', function(msg){
      var msg_toast = "Nachricht von &nbsp; <b>" + msg.author +  "</b>:&nbsp;" + msg.content;
      Materialize.toast(msg_toast, 10000);
    });
  });
</script>
</body>
</html>
