<%- include head %>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Impressum</h2>
            </div>
        </div>


        <div class="impressum">
            <div class="col-lg-5 col-lg-offset-3">
                <h3>Kontaktdaten</h3>
                <hr />
                <div class="col-lg-offset-1">
                    <div class="col-lg-6">
                        <p>Hinter dem Mond 13</br>
                            9156 Milchstraße</br>
                            <b>Telefon:</b> 0900 - 34 84 23</br>
                            <b>Email:</b> info@wba.de</br>
                            <b>Internet:</b> www.weltraumbetrachteragentur.de</p>
                        <p>Inhaber:</p>
                        <div class="col-lg-offset-1">
                            <p>Tim Pack </br>
                                Fabian Daugs</br>
                                Julian Hardtung</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
      div.impressum p{
        line-height: 2;
      }
    </style>


    <%- include foot %>
